@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px; line-height:100%; font-family:Arial, sans-serif;}

ul, ol { list-style:none;}
img { border:0;}

body { margin:0; text-align:center; background:#FFF;}

#login { display:block; width:950px; margin:0 auto; text-align:left;}
#login_header { display:block; padding-top:40px; height:80px;}
.login_logo { float:left; margin-top:10px;}
.login_info { float:left; margin-left:10px; line-height:80px; font-size:18px; color:#0088cc; font-weight: bold;}
.login_headerContent { float:right; display:block; width:280px; height:80px; padding:0 40px; background:url(../images/login_header_bg.png) no-repeat top right;}
.navList { display:block; overflow:hidden; height:20px; padding-left:28px;}
.navList ul { float:left; display:block; overflow:hidden;}
.navList li { float:left; display:block; margin-left:-1px; padding:0 10px; background:url(../images/login_list.png) no-repeat 0 5px;}
.navList a { display:block; white-space:nowrap; line-height:21px; color:#000; text-decoration:none;}
.navList a:hover { text-decoration:underline;}

#login_content { display:block; position:relative;}
.login_title { display:block; padding:35px 0 0 28px;}
.loginForm { display:block; width:240px; padding:40px 20px 0 20px; position:absolute; right:40px;}
.loginForm p { margin:10px 0 15px;}
.loginForm label { float:left; width:70px; padding:0 0 0 10px; line-height:25px; color:#4c4c4c; font-size:14px;}
.loginForm input { padding:3px 2px; border-style:solid; border-width:1px; border-color:#80a5c4;}
.loginForm .login_input { width:150px;}
.loginForm .code { float:left; margin-right:5px; width:70px;}
.login_bar { padding-left:70px; padding-top:15px;}
.login_bar .sub { display:block; width:75px; height:30px; border:none; background:url(../images/login_sub.png) no-repeat; cursor:pointer;}

.login_banner { display:block; height:270px; background:url(../images/login_banner.jpg) no-repeat;}
.login_main { display:block; height:200px; padding-right:40px; background:url(../images/login_content_bg.png) no-repeat top;}

.helpList { float:right; width:200px; margin-right:35px; _margin-right:20px;}
.helpList li { display:block; padding-left:10px; margin-bottom:10px; color:#333;}
.helpList a { line-height:21px; color:#333; text-decoration:none; }
.helpList a:hover { text-decoration:underline;}

.login_inner { display:block; width:560px; padding:10px 20px 0 20px;}
.login_inner p { margin:10px 0; line-height:150%; font-size:14px; color:#666;}

.login_message{margin:15px 0 0 10px; color:#1D83D8; font-weight:bold;}

#login_footer { clear:both; display:block; margin-bottom:20px; padding:10px; border-top:solid 1px #e2e5e8; color:#666; text-align:center;}
