.mod-inner{border:1px solid #E7E7E7; background:#fff; padding-top:10px; height:230px; color:#333; overflow-y:auto;}
.table-col1{width:100%; text-align:left;}
.table-col1 td{height:33px; vertical-align:top;}
.mod-inner2{border:1px solid #E7E7E7; background:#fff; padding:10px 12px; height:230px; color:#333; overflow-y:auto;}
.table-col2{width:100%; text-align:left; border-bottom:1px solid #E7E7E7;}
.table-col2 td{line-height:28px;}
.table-col3{border:none;}
















































