body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1 '微软雅黑',Helvetica,Arial,"\5b8b\4f53",sans-serif}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:none}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help}
q:before,q:after{content:''}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;height:1px}
.fl{float:left;}
.fr{float:right;}
.clearfix{zoom:1;}
.clearfix:after{content:""; display:block; height:0; line-height:0; clear:both; visibility:hidden;overflow:hidden;}

.header{background:#fff; height:90px;}
.header-inner{width:1100px; margin:0 auto;}
.logo{margin-top:25px; margin-right:205px;}
a.try-btn{display:block; width:125px; height:35px; line-height:35px; margin-top:28px; background:url(../../images/v1.0/web/btn.png) no-repeat; color:#fff; text-align:center; font-size:14px;}
.nav{font-size:16px;}
.nav li{float:left; width:112px; line-height:40px; margin:22px 2px 0 0; color:#666; border-top:4px solid #fff; text-align:center;}
.nav li a{color:#666;}
.nav li a:hover{color:#269ed8;}
.nav li.drop{text-align:left; position:relative;}
.nav li.drop .drop-title{display:block; padding-left:21px; background:url(../../images/v1.0/web/t2.png) right center no-repeat;}
.nav li.drop .drop-title:hover{color:#fff;}
.nav li.drop-on{border-top:4px solid #269ED8;}
.nav li.drop-on .drop-title{background:#333 url(../../images/v1.0/web/t1.png) right center no-repeat; color:#fff;}
.nav li.drop .drop-down{display:none; position:absolute; left:0; top:40px; width:112px;}
.nav li.drop-on .drop-down{display:block; padding:5px 0; background:#333;}
.nav li.drop-on .drop-down a{display:block; text-align:center; line-height:28px; color:#fff; font-size:12px;}
.nav li.drop-on .drop-down a:hover{color:#269ed8;}

.section1{padding-top:476px; height:334px; background:url(../../images/v1.0/web/s1.jpg) center top no-repeat;}
.section1 .down-btn{display:block; width:220px; height:75px; line-height:75px; margin:0 auto; background:url(../../images/v1.0/web/btn2.png) no-repeat; color:#fff; text-align:center; font-size:24px;}
.section2, .section3, .section4, .section5{background:#fff; padding:100px 0;}
.img-mid{display:block; margin:0 auto;}
.section3, .section5{background:url(../../images/v1.0/web/s_bg.png) repeat;}
.section6{padding-top:335px; height:565px; background:url(../../images/v1.0/web/s6.jpg) center top no-repeat;}
.section6-inner{width:600px; margin:0 auto;}
.download-btn{display:block; width:153px; height:38px; line-height:38px; margin-top:48px; margin-right:22px; background:url(../../images/v1.0/web/btn3.png) no-repeat; color:#fff; text-align:center; font-size:14px; font-family:Arial;}
.download-img1{margin-right:78px;}

.footer{padding-top:45px; height:247px; line-height:30px; color:#b2b2b2; font-size:14px; background:#262626;}
.footer-inner{width:1100px; margin:0 auto; background:url(../../images/v1.0/web/logo_gray.jpg) 406px 54px no-repeat;}
.footer a{color:#b2b2b2;}
.footer p{ margin-top:63px; padding-left:357px;}
.footer h2{color:#fff; font-size:16px; font-weight:normal; line-height:40px;}
.footer h2 img{margin-left:12px; vertical-align:middle;}
.footer h2 .ewm1{margin-left:20px; cursor:pointer;}
.footer h2 .ewm-img{display:none; cursor:pointer; position:absolute; top:-170px; left:-2px;}
.footer ul.fl{margin-right:125px;}
.footer ul.fr{margin-left:125px;}
.tel{padding-left:30px; background:url(../../images/v1.0/web/tel.png) left center no-repeat;}
.adr{padding-left:30px; background:url(../../images/v1.0/web/adr.png) left center no-repeat;}















