.banklogo-ABC, .banklogo-ICBC, .banklogo-CCB, .banklogo-PSBC, .banklogo-BOC, .banklogo-CMB, .banklogo-COMM, .banklogo-SPDB, .banklogo-CEB, .banklogo-CITIC, .banklogo-SPABANK, .banklogo-CMBC, .banklogo-HXBANK, .banklogo-GDB, .banklogo-CIB, .banklogo-SHBANK, .banklogo-NBBANK, .banklogo-HZCB, .banklogo-BJBANK, .banklogo-WZCB, .banklogo-ANTBANK, .banklogo-BOCFCB, .banklogo-BOHAIB, .banklogo-BSB, .banklogo-CZBANK, .banklogo-CZCB, .banklogo-DBSCN, .banklogo-EGBANK, .banklogo-FJHXBC, .banklogo-HKBEA, .banklogo-HZCCB, .banklogo-JHBANK, .banklogo-JSBANK, .banklogo-JXBANK, .banklogo-MTBANK, .banklogo-NBCBANK, .banklogo-NBYZ, .banklogo-NDHB, .banklogo-SXCB, .banklogo-TJBHB, .banklogo-TZCB, .banklogo-YZBANK, .banklogo-ZJNX, .banklogo-ZJTLCB, .banklogo-HSBC, .banklogo-NJCB, .banklogo-HSB, .banklogo-CITIBANK, .banklogo-URCB{background-color:#fff;background-repeat:no-repeat;background-position:0 0;}
.banklogo-ABC{background-image:url(2017.5.22/ABC.png)}
.banklogo-ICBC{background-image:url(2017.5.22/ICBC.png)}
.banklogo-CCB{background-image:url(2017.5.22/CCB.png)}
.banklogo-PSBC{background-image:url(2017.5.22/PSBC.png)}
.banklogo-BOC{background-image:url(2017.5.22/BOC.png)}
.banklogo-CMB{background-image:url(2017.5.22/CMB.png)}
.banklogo-COMM{background-image:url(2017.5.22/COMM.png)}
.banklogo-SPDB{background-image:url(2017.5.22/SPDB.png)}
.banklogo-CEB{background-image:url(2017.5.22/CEB.png)}
.banklogo-CITIC{background-image:url(2017.5.22/CITIC.png)}
.banklogo-SPABANK{background-image:url(2017.5.22/SPABANK.png)}
.banklogo-CMBC{background-image:url(2017.5.22/CMBC.png)}
.banklogo-HXBANK{background-image:url(2017.5.22/HXBANK.png)}
.banklogo-GDB{background-image:url(2017.5.22/GDB.png)}
.banklogo-CIB{background-image:url(2017.5.22/CIB.png)}
.banklogo-SHBANK{background-image:url(2017.5.22/SHBANK.png)}
.banklogo-NBBANK{background-image:url(2017.5.22/NBBANK.png)}
.banklogo-HZCB{background-image:url(2017.5.22/HZCB.png)}
.banklogo-BJBANK{background-image:url(2017.5.22/BJBANK.png)}
.banklogo-WZCB{background-image:url(2017.5.22/WZCB.png)}
.banklogo-ANTBANK{background-image:url(2017.5.22/ANTBANK.png)}
.banklogo-BOCFCB{background-image:url(2017.5.22/BOCFCB.png)}
.banklogo-BOHAIB{background-image:url(2017.5.22/BOHAIB.png)}
.banklogo-BSB{background-image:url(2017.5.22/BSB.png)}
.banklogo-CZBANK{background-image:url(2017.5.22/CZBANK.png)}
.banklogo-CZCB{background-image:url(2017.5.22/CZCB.png)}
.banklogo-DBSCN{background-image:url(2017.5.22/DBSCN.png)}
.banklogo-EGBANK{background-image:url(2017.5.22/EGBANK.png)}
.banklogo-FJHXBC{background-image:url(2017.5.22/FJHXBC.png)}
.banklogo-HKBEA{background-image:url(2017.5.22/HKBEA.png)}
.banklogo-HZCCB{background-image:url(2017.5.22/HZCCB.png)}
.banklogo-JHBANK{background-image:url(2017.5.22/JHBANK.png)}
.banklogo-JSBANK{background-image:url(2017.5.22/JSBANK.png)}
.banklogo-JXBANK{background-image:url(2017.5.22/JXBANK.png)}
.banklogo-MTBANK{background-image:url(2017.5.22/MTBANK.png)}
.banklogo-NBCBANK{background-image:url(2017.5.22/NBCBANK.png)}
.banklogo-NBYZ{background-image:url(2017.5.22/NBYZ.png)}
.banklogo-NDHB{background-image:url(2017.5.22/NDHB.png)}
.banklogo-SXCB{background-image:url(2017.5.22/SXCB.png)}
.banklogo-TJBHB{background-image:url(2017.5.22/TJBHB.png)}
.banklogo-TZCB{background-image:url(2017.5.22/TZCB.png)}
.banklogo-YZBANK{background-image:url(2017.5.22/YZBANK.png)}
.banklogo-ZJNX{background-image:url(2017.5.22/ZJNX.png)}
.banklogo-ZJTLCB{background-image:url(2017.5.22/ZJTLCB.png)}
.banklogo-HSBC{background-image:url(2017.5.22/HSBC.png)}
.banklogo-NJCB{background-image:url(2017.5.22/NJCB.png)}
.banklogo-HSB{background-image:url(2017.5.22/HSB.png)}
.banklogo-CITIBANK{background-image:url(2017.5.22/CITIBANK.png)}
.banklogo-URCB{background-image:url(2017.5.22/URCB.png)}
