.find_password_body{ overflow:auto; *position:relative; *left:0; *top:0; background:#f7f7f7;}
.find_password{ width:385px; height:315px; background:#f7f7f7; overflow:hidden;}
.find_password .list{ padding-top:25px;}
.find_password	.label{ float:left;width:75px; text-align:right; height:30px; line-height:30px; color:#666;}
.find_password .info{ float:left; padding-left:15px; width:295px;}
.find_password .detail{ float:left; width:295px; position:relative;}
.find_password .error_add{ height:30px; line-height:30px; padding-left:12px; overflow:hidden;}
.find_password .error_add .error{ color:#e92e2e; display:block;}
.find_password .input_t{ height:28px; border:1px solid #cccccc; background:#fff; float:left; padding:0 10px; line-height:28px;}
.find_password .placeholder_for{ position:absolute; left:0; top:0; color:#999; height:30px; line-height:32px; float:left; overflow:hidden; padding:0 10px; cursor:text;}
.find_password .input_t.error{ border-color:#e92e2e;}
.find_password .get_code{box-sizing: content-box; height:28px; float:left; text-align:center; line-height:28px; *line-height:25px; overflow:hidden; color:#fff; width:123px; border:1px solid #227ac6; background:#227ac6; margin-left:5px; cursor:pointer;}
.find_password .get_code_none{ cursor:not-allowed; background:#fafafa; border-color:#ccc; color:#999;}
.find_password .btn_submit{ float:left;box-sizing:border-box; height:25px; line-height:22px; background:#1dc681;  padding:2px 5px;*padding:0 3px; border:0; min-width:67px;*min-width:auto;  color:#ffffff; border-radius:3px; -webkit-border-radius:3px; cursor:pointer; margin-left:38px;}

.find_password .btn_none{ border:1px solid #cccccc; background:#fafafa; color:#535353; margin-left:10px;}
.find_password .select{ float:left; border:1px solid #cccccc; height:28px; margin-right:5px; padding:4px 2px;}
.find_password .select.error{ border-color:#e92e2e;}
.find_password .s_text{ text-align:center; font-size:16px; color:#333333; padding-top:87px; height:76px; line-height:76px;}
.find_password .btn_login{ float:none; margin:0 auto; display:block; background:#ff9d11; border-color:#ff9d11;}
.pop_box_password{ width:385px; height:290px;}
.pop_box_password .find_password{ height:253px;}

