.f1{height:652px; background:url(../../images/v1.0/web02/f1-new.jpg) center top no-repeat;}
.f2{height:652px; background:#fff url(../../images/v1.0/web02/f2.jpg) center bottom no-repeat;}
.f3{height:652px; background:#fff url(../../images/v1.0/web02/f3.jpg) center bottom no-repeat;}
.f4{height:652px; background:#fff url(../../images/v1.0/web02/f4.jpg) center bottom no-repeat;}
.f5{height:652px; background:#fff url(../../images/v1.0/web02/f5.jpg) center bottom no-repeat;}
