body{background:#FFF;}
.about{width:884px; margin:30px auto;}
.about dt{line-height:58px; font-size:18px; padding-left:46px; border-bottom:1px dashed #E4E4E4; background:url(../../images/v1.0/web02/about.png) left 11px no-repeat; color:#333;}
.about .dl2 dt{background-position:left -45px;}
.about .dl3 dt{background-position:left -103px;}
.about .dl4 dt{background-position:left -162px;}
.about dd{padding:20px 15px 10px 27px; font-size:14px; line-height:30px; color:#666;}









