
.nav-link{height:194px; background:url(../../images/v1.0/web02/info1.jpg) top center no-repeat;}
.nav-link ul{width:1038px; margin:0 auto; padding-left:62px; padding-top:31px;}
.nav-link ul li{float:left; margin-right:28px;}
.nav-link ul li a{display:block; width:174px; height:130px; text-indent:-99999px;}

.nav-link2{display:none; position:fixed; top:0; right:0; width:100%; height:48px; line-height:48px; background:#fff; box-shadow:0 2px 5px rgba(0,0,0,.3); z-index:99;}
.nav-link2 ul{width:1038px; margin:0 auto; padding-left:132px; background:url(../../images/v1.0/web02/info_link.png) 132px center no-repeat;}
.nav-link2 ul li{float:left; width:144px; padding-left:36px;}
.nav-link2 ul li a{color:#666; font-size:16px;}
.nav-link2 ul li a:hover, .nav-link2 ul li a.on{color:#4c80cc;}

.info-pane{width:100%;}
.info-pane .inner{position:relative;}
.info-pane h2{font-size:32px; color:#333; margin-bottom:14px;}
.info-pane h3{font-size:18px; color:#698ed7; line-height:32px;}
.info-pane p{font-size:14px; color:#6a6a6a; line-height:24px;}
.info-pane1{background:#fff;}
.info-pane1 .inner{height:590px; background:url(../../images/v1.0/web02/info2.jpg) left top no-repeat;}
.info-pane1 .col{position:absolute; left:70px; top:164px;}
.info-pane1 .img{position:absolute; right:83px; top:75px;}

.info-pane2{background:#F4F4F4;}
.info-pane2 .inner{height:600px; background:url(../../images/v1.0/web02/info4.jpg) left top no-repeat;}
.info-pane2 .col{position:absolute; right:55px; top:175px;}

.info-pane3{background:#fff;}
.info-pane3 .inner{height:600px; background:url(../../images/v1.0/web02/info2.jpg) left top no-repeat;}
.info-pane3 .col{position:absolute; left:70px; top:164px;}
.info-pane3 .img{position:absolute; right:83px; top:122px;}

.info-pane4{background:#E1F5FE;}
.info-pane4 .inner{height:600px; background:url(../../images/v1.0/web02/info6.jpg) left top no-repeat;}
.info-pane4 .col{position:absolute; right:19px; top:175px;}

.info-pane5{background:#fff;}
.info-pane5 .inner{height:606px; background:url(../../images/v1.0/web02/info7.jpg) left top no-repeat;}
.info-pane5 .col{position:absolute; left:180px; top:120px;}






